.slider-container {
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: calc(100% / 6);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .image {
    width: 80%; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  