.login-screen-row {
    margin-left: 280px;
  }
  
  .login-card {
    width: 500px;
  }
  
  .login-image {
    height: 380px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-form-container {
    padding: 20px;
  }
  
  .login-heading {
    text-align: center;
  }
  
  .login-button {
    width: 100px;
  }
  
  
  